<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/btn_star_big_on"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/btn_star_big_on"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMaster"
        tools:targetApi="31">
        <activity
            android:name=".tdksky.superheroapp.DetailSuperheroActivity"
            android:exported="false"
            android:theme="@style/Theme.TODOApp"/>
        <activity
            android:name=".tdksky.superheroapp.SuperHeroListActivity"
            android:exported="false"
            android:theme="@style/Theme.TODOApp"/>
        <activity
            android:name=".tdksky.todoapp.TodoActivity"
            android:exported="false"
            android:theme="@style/Theme.TODOApp" />
        <activity
            android:name=".tdksky.imccalculator.ImcCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".tdksky.imccalculator.ResultIMCActivity"
            android:exported="false" />
        <activity
            android:name=".tdksky.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tdksky.firstapp.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".tdksky.firstapp.FirstAppActivity"
            android:exported="true" />
    </application>

</manifest>